.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background: var(--bg-header);
}

.header-count {
    padding-right: var(--spacing-medium);
    margin-left: auto;

    font-weight: bold;

    cursor: pointer;
}